
@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Kontakt</h1>
    <p>
        Email: assignment@gmail.com
        <br />
        Broj telefona: 065-111111
        <br />


    </p>

</div>
<footer>
    &copy; 2020  ITAcademy
</footer>
