
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">O nama</h1>
    <p>
        Bavimo se prodajom polovnih automobila od 2006. godine.
        Imamo preko 50 000 zadovoljnih musterija.
        Kupujte povoljno!
    </p>
</div>